# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
pnpm-debug.log*
bun.lockb

# Dependencies and builds
node_modules
dist
dist-ssr
server/node_modules
server/dist

# Environment
.env
.env.*.local
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
